body{
    margin: 0;
    padding: 0;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.menuBar{
    width: 100vw;
    height: 50px;
    background: lightblue;
    font-size: 22px;
    font-weight: bold;
    
}